// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700|family=Cairo&family=Silkscreen&display=swap');
@import url("http://db.onlinewebfonts.com/c/487390d5558cff7a17ce35d7d92a0540?family=Pretendo");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Changa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

// Define fonts for body and headers
$body-font: 'Chakra Petch', sans-serif;
// $body-font: "Pretendo";
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$headers-font: 'Luckiest Guy', cursive;

// 'Chakra Petch', sans-serif;

$wild-font: 'Luckiest Guy', cursive;

$alt-font: 'Changa', sans-serif;

$nav-font: 'Press Start 2P', cursive;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
