<div data-controller="ajax-undo">
<br>
  <div class="game-cards">
    <% @games.each do |game| %>
    <%= render "shared/card_base", game: game, ban: true, active: false %>

    <% end %>
  </div>
</div>

<%# display banned games
install button RESTORE %>
