<div class="game-cards-container">

  <div class="d-flex justify-content-center m-3">
    <h1 class="text-white"><%= @user.user_name %></h1>
  </div>
  <div data-controller="ajax-ban">

    <div class="game-cards">
      <% @games.each do |game| %>
      <%= render "shared/card_base", game: game, ban: false, active: @is_users  %>
      <% end %>
    </div>
  </div>

</div>



<%# data-controller="insert-in-list"
<div data-ajax-ban-target="games">
data: {insert_in_list_target: "form"}) do |f|
rails generate stimulus insert_in_list %>
