
<!-- <%= render :partial => 'background' %>  -->

<div class="d-flex">

  <div class="left-switch-container">
  </div>

  <div class="main-switch-container" style="background-color: grey"> H</div>

  <div class="right-switch-container">
  </div>

</div>
