<div class="banner-bot">
  <div class=active-users>
    <p>Most active users!</p>
  </div>

  <div class="user-cards">
    <%= render "shared/user_card" %>
    <%= render "shared/user_card" %>
    <%= render "shared/user_card" %>
    <%= render "shared/user_card" %>
  </div>
</div>
