<div class="banner-bot">
  <div class=active-users>
    <p class="text-light">Most active users!</p>
  </div>

  <div class="user-cards">
    <%= render "shared/user_card", user: @users[0]%>
    <%= render "shared/user_card", user: @users[1]%>
    <%= render "shared/user_card", user: @users[0]%>
    <%= render "shared/user_card", user: @users[0]%>
  </div>


</div>
