<div class="avatar-container">
  <div class="left-color"></div>
  <img class="avatar" alt="avatar-square" src= "https://images.saymedia-content.com/.image/t_share/MTc5MjM3NTIzOTI2MDM0MTE1/hottest-zelda-girls.jpg" />
  <div class="right-color"></div>
</div>
