<div class="user-card">
  <div class="avatar-container-card">
    <div class="left-color-card"></div>
    <img class="avatar-card" alt="avatar-square" src= <%=user.picture  %> />
    <div class="right-color-card"></div>
  </div>
  <div class="user-card-info">
    <h4><%= user.user_name %></h4>
    <%= image_tag "http://pixelartmaker.com/art/c0e1e34c1b64249.png", class:"user-card-pic" %>
  </div>
</div>
