<div class="banner-bot">
  <div class=active-users>
    <h5 class="text-light">Most active users!</h5>
  </div>

  <div class="user-cards">
    <%= render "shared/user_card", user: User.find_by(email: "mario@test.com")%>
    <%= render "shared/user_card", user: User.find_by(email: "zelda@test.com")%>
    <%= render "shared/user_card", user: User.find_by(email: "samus@test.com")%>
    <%= render "shared/user_card", user: User.find_by(email: "link@test.com")%>
  </div>


</div>
