<%#
<div class="d-flex main-container">

  <div class="left-switch-container">
  </div>

  <div class="main-switch-container" >

  </div>

  <div class="right-switch-container">
  </div>

</div> %>

<div><h1>Le wagon</h1></div>

<%= render "shared/card_base", game: @game %>






<%# <h1>Pages#home</h1>
# <p>Find me in app/views/pages/home.html.erb</p>

# <div class="container"> H</div>

# <div class="main-switch-container"> H</div>
# <div class="d-flex flex-column align-items-center">
#   <div style="background-color: red; width:100% ">100</div>
#   <div style="background-color: red; width:95% ">95</div>
#   <div style="background-color: red; width:90% ">90</div>
#   <div style="background-color: red; width:85% ">85</div>
#   <div style="background-color: red; width:80% ">80</div>
#   <div style="background-color: red; width:75% ">75</div>
# </div>
