<h1 style="color: white"><%= @game.title%></h1>
<div data-controller="cookie-clicker">
  <div class = 'card-button' data-action="click->cookie-clicker#filterSet" data-filter="water">coffey</div>
</div>


<% @description.each do |p| %>

<p style="color: white"> <%= cookies[:sort] %> </p>

<% end %>

<% @pics.each do |img| %>

<img  src=<%= img %>>



<% end %>

<p style="color: white"><%= @html_doc %></p>
