<h1 style="color: white"><%= @game.title%></h1>
<% @description.each do |p| %>

<p style="color: white"><%= p %></p>

<% end %>

<% @pics.each do |img| %>

<img  src=<%= img %>>



<% end %>

<p style="color: white"><%= @html_doc %></p>
