.main-switch-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  background: $background-main;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,47,47,1) 54%, rgba(47,47,47,1) 56%);
}

@media screen and (min-width: 533px){
  .main-switch-container {
    width: 480px
  }
  .user-cards {
    grid-template-columns: 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 600px){
  .main-switch-container {
    width: 540px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 672px){
  .main-switch-container {
    width: 605px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 755px){
  .main-switch-container {
    width: 680px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 856px){
  .main-switch-container {
    width: 770px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 967px){
  .main-switch-container {
    width: 870px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1089px){
  .main-switch-container {
    width: 980px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1222px){
  .main-switch-container {
    width: 1100px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1389px){
  .main-switch-container {
    width: 1250px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1556px){
  .main-switch-container {
    width: 1400px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1778px){
  .main-switch-container {
    width: 1600px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2000px){
  .main-switch-container {
    width: 1800px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2222px){
  .main-switch-container {
    width: 2000px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2444px){
  .main-switch-container {
    width: 2200px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2778px){
  .main-switch-container {
    width: 2500px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 3167px){
  .main-switch-container {
    width: 2850px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 3556px){
  .main-switch-container {
    width: 3200px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 4000px){
  .main-switch-container {
    width: 3600px
  }
  .user-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .game-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
