.navbar-lewagon {
  justify-content: space-between;
  background: $nint-red;
  height: 15vh;
}

.nav-logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-pic {
  width: auto;
  border-radius: 50%;
  background-color: white;
}

.nav-title {
  width: auto;
  height: auto;
}

.navbar-lewagon .navbar-brand img {
  height: 10vh;
}

.navbar-signlog {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  height: 10vh;
  list-style-type: none;
  margin: auto;
}

.sign-log {
  color: white;
  border: 0.2em solid white;
  padding: 0.5em;
  border-radius: 0.6em;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.3vw;
  font-family: $nav-font;
  height: 10vh;
}

.sign-log:hover {
  color: $nint-red;
  border: 0.2em solid $nint-red;
  background-color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
