.red {
  background: linear-gradient(0deg, rgba(126,24,24,1) 0%, rgba(254,87,71,1) 100%);
}

.blue {
  background: linear-gradient(0deg, rgba(24,112,133,1) 35%, rgba(46,147,155,1) 59%);
}

.green {
  background: linear-gradient(0deg, rgb(18, 113, 32) 0%, rgb(141, 254, 71) 100%);
}

.yellow {
  background: linear-gradient(0deg, rgb(134, 127, 24) 0%, rgb(233, 254, 71) 100%);
}

.pink {
  background: linear-gradient(0deg, rgb(133, 24, 120) 35%, rgb(253, 73, 217) 59%);
}

.turquoise {
  background: linear-gradient(0deg, rgb(24, 126, 133) 35%, rgb(73, 250, 253) 59%);
}
