.user-card {
  overflow: hidden;
  color: $light-font;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: inherit;
  width: 10vw;
  border-radius: 10px;
  transition: width .3s, height .3s;
}

.user-card:hover {
& p {
    font-size: 28px;
    opacity: 1;
  }
}

.avatar-card{
  width: 80%;
  height: 14vh;
}

.right-color-card {
  background-color: $r-color;
  width: 10%;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(0deg, rgba(126,24,24,1) 0%, rgba(254,87,71,1) 100%);
}

.left-color-card {
  background-color: $l-color;
  width: 10%;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(0deg, rgba(24,112,133,1) 35%, rgba(46,147,155,1) 59%);
}

.avatar-container-card {
  border-radius: 10px;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.user-card .user-card-info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.star-pic {
  position: absolute;
  background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/c0e1e34c1b64249.png");
  background-size: cover;
  background-position: center;
  width: 4vw;
  height: 4vw;
  top: -65%;
  left: -9%;
}

.avatar-pic {
height: 100%;
width: 100%;

}

.user-card p {
  font-size: larger;
  font-weight: bold;
  margin: 0;
  color: $light-font;
}

.user-card a {
  text-decoration: none;
}
